body, html {
    background-color:antiquewhite;
    height: 77vh;
    font-family: Consolas, Courier, Tahoma, Geneva, sans-serif;
}

#home_content {
    padding: 0.2rem calc((100vw - 1000px) / 2);
    
}
.content {
    padding: 0.2rem 10vw;
    max-height: 77vh;
    overflow: auto
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}
  
#home-container {
    display: grid;
    grid-template-columns: [first] 40% [line1] auto [end];
    max-height: 100vh;
}
  
#home-left {
    grid-column-start: first;
    grid-column-end: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Consolas, Courier, Tahoma, Geneva, sans-serif;
}
  
#home-right {
    grid-column-start: line1;
    grid-column-end: end;
}

#home-content {
    float: left;
    vertical-align: center;
}

#home-img {
    max-height: 50vh;
    margin: auto;
    display: flex;
    padding-block: 10vh;
}

.column {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#rightStuff {
    align-items:flex-start;
}

.row {
    display: flex;
}

.profile {
    border-radius: 50%;
    height: 20vh;
}

.heading {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 60px;
}

h2 {
    font-size: 32px;
    font-weight: 150;
}



p {
    font-weight: 150;
    font-size: 18px;
    margin-top: -10px;
}

#aboutMeP {
    line-height: 26px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: rgba(159, 131, 140, 0.35);
    border-radius: 10px;
    flex: 0 0 20%;
    padding: 0.5em 1em;
    margin: 0 auto;
}

.card_img {
    border-radius: 10px;
    width: 20em;
    margin-top: 20px;
}

#p_card {
    font-size: 16px;
}

#h2_card {
    font-size: 28px;
}

a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #53422b;
    text-decoration: underline;
}
a:visited {
    color: black;
}

#NavBar {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    font-family: Consolas, Courier, Tahoma, Geneva, sans-serif;
}

#NavBar:hover {
    color: black;
}